# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
.vs/
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 